<div class="hide-for-medium-up mobilenav_bar">        
        <button type="button" id="trigger-overlay" role="button" aria-label="Toggle Navigation" id="mbtn" class="toggle lines-button x">
          <span class="lines"></span>
        </button>
</div>


<div class="overlay show-for-small-only">
  					<p class="overlay_p"><a href="#">About</a></p>
  					<p id="mobile_music" class="overlay_p2"><a href="#">Music</a></p>
            <div id="mobile_music_subnav">
                <div class="small-3 large-3 columns">solo</div>
                <div class="small-3 large-3 columns">Film</div>
                <div class="small-3 large-3 columns">other</div>
                <div class="small-3 large-3 columns">bridal</div>
            </div>
            <p class="overlay_p2"><a href="#">Violins</a></p>
  					<p id="mobile_media" class="overlay_p2"><a href="#">Media</a></p>
            <div id="mobile_media_subnav">
                <div class="small-4 large-4 columns">video</div>
                <div class="small-4 large-4 columns">photo</div>
                <div class="small-4 large-4 columns">press</div>

            </div>
  					<p class="overlay_p2"><a href="#">Art</a></p>
  					<p class="overlay_p2"><a href="/#contact">Contact</a></p> 
</div>

<div id="trigger-contact-overlay" class="contact-overlay" style="opacity:0;">
            <span id="contact_close" class="icon close-content contact_close"></span>
            <div class="row contact_popup">
              <div class="large-6 columns">
                <p>contact me reasons</p>
              </div>
              <div class="large-6 columns">
                <p id="contact_close" >The form <a href="www.kaitlynhova.com">this</a></p>
              </div>
            </div>
</div>
