
<div class="navbg stay show-for-medium-up">  
  <div class="row main_navigation">
    <div class="small-2 large-2 columns">
      <a id = "about" href="/#about_section">About</a>
    </div>
    <div class="small-2 large-2 columns">
      <a id = "music" href="#solo_music">Music</a>
    </div>
    <div class="small-2 large-2 columns">
      <a href="/violins"> Violins</a>
    </div>
    <div id = "media" class="small-2 large-2 columns">
      Media
    </div>
    <div class="small-2 large-2 columns">
      <a href="/art">Art</a>
    </div>
    <div class="small-2 large-2 columns">
      <a href="#contact"> Contact </a>
    </div>
  </div>
  <div id="music_submenu">
    <div>
      <div class="small-3 large-3 columns">
        <a href="/#solo_music">solo</a>
      </div>
      <div class="small-3 large-3 columns">
        <a href="/commercial_music">commercial</a>
      </div>
      <div class="small-3 large-3 columns">
        <a href="/discography">discography</a>
      </div>
      <div class="small-3 large-3 columns">
        <a href="/bridal_music">bridal</a>
      </div>
    </div>
  </div>
  <div id="media_submenu">
    <div>
      <div class="small-4 large-4 columns">
        <a href="/videos">video</a>
      </div>
      <div class="small-4 large-4 columns">
        <a href="/photos">photo</a>
      </div>
      <div class="small-4 large-4 columns">
        <a href="/press">press</a>
      </div>
    </div>
  </div>
</div>
<img src="/assets/triangle.png" id="that_triangle" class="show-for-medium-up">
