 <h1 id="about_section" class="section_header">ABOUT</h1>
 <p class="subtext"> MY STORY</p>

<div class="TL_year">
  <h1 >1988</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img src="/assets/born_large.png" class="hide-for-large-up TLM_image" style="display:block; margin: 0 auto;">
    <div class="content_box">
      <h1>BORN</h1>
      <p>I was born on August 4th, 1988 to my parents, Ken and Cindy Filippini. Ken is an Italian-American computer programmer and Cindy is a registered nurse. Cindy played piano and sang….Ken liked music because Cindy liked music.</p>
    </div>
  </div>
  <div class="large-6 columns timeline2 show-for-large-up">
    <img class="TL_image show-for-large-up" src="/assets/born_large.png">
  </div>
</div>
<div class="TL_year">
  <h1 class="TL_1989">1989</h1>
</div>

<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img class="left_image TL_image show-for-large-up" src="/assets/sick_large.png">
  </div>
  <div class="large-6 columns timeline2">
    <img src="/assets/sick_large.png" class="hide-for-large-up TLM_image">
    <div class="content_box"> 
      <h1>STILL KICKIN'</h1>
      <p>I was born with an absolute IgA deficiency, which is a fancy way of saying illness was the primary component of my childhood. If my mom wasn’t a nurse I wouldn’t be here today. I had Pneumonia 13 times, ear tubes, and multiple other ailments. I wasn’t supposed to live past 6 years old, but I can be very stubborn. Although I will never have any levels of Iga, I have built up an arsenal of every other immune globulin. I hardly ever get sick any more.</p>
    </div>
  </div>
</div>
<div class="TL_year">
  <h1 class="TLM_1994" >1994</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img src="/assets/starting_large.png" class="hide-for-large-up TLM_image">
    <div class="content_box">
      <h1>BEGINNING MUSIC</h1>
      <p>Age six was a huge milestone in my life, so my parents bought me my first piano and picked up violin at age 9. I don’t remember ever making the decision to play violin. Initially I was just in it for the ice cream I would receive at the end of Orchestra concerts. Kids.</p>
    </div>
  </div>
  <div class="large-6 columns timeline2">
    <img class="TL_image show-for-large-up" src="/assets/starting_large.png">
  </div>
</div>
<div class="TL_year">
  <h1 class="TLM_2000">2000</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img class="left_image TL_image show-for-large-up" src="/assets/AFM.png">
  </div>
  <div class="large-6 columns timeline2">
    <img src="/assets/AFM.png" class="hide-for-large-up TLM_image">
    <div class="content_box">
      <h1>GIGGING PROFESSIONALLY</h1>
      <p>I joined the ranks of my private lesson teachers in the Omaha Musicians Union and started gigging at the age of 14. My first professional gigs were with Mannheim Steamroller, Rod Stewart and Josh Groban. Gigs that followed included: Mary J Blige, Michale Bublé, Pam Tillis, Gladys Knight, The Canadian Tenors, Tim Kasher, and Trans Siberian Orchestra. Mannhiem Steamroller really took me under its wing, and I began observing what it takes to be a real musician.</p>
    </div>
  </div>
</div>
<div class="TL_year">
  <h1 class="TLM_2001">2001</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img src="/assets/business.png" class="hide-for-large-up TLM_image">
    <div class="content_box">
      <h1>BUSINESS OWNERSHIP</h1>
      <p>I was an apprentice at Midwest Violins and decided to open my own business to fix/make violins and book wedding gigs. The Musicians of Mannheim Steamroller had taught me that in order to be a musician, you had to be in “the business of yourself.” I took this advice literally and started my own business, Eloquent Acoustics, at age fourteen.</p>
    </div>
  </div>
  <div class="large-6 columns timeline2">
    <img class="TL_image show-for-large-up" src="/assets/business.png">
  </div>
</div>
<div class="TL_year">
  <h1 class="TLM_2006">2006</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img class="left_image show-for-large-up TL_image" src="/assets/IB_large.png">    
  </div>
  <div class="large-6 columns timeline2">
    <img src="/assets/IB_large.png" class="hide-for-large-up TLM_image">
    <div class="content_box">
      <h1>IB DIPLOMA</h1>
      <p>Although I had been excelling at music, I also had a passion for more ‘left brain’ oriented studies, and a penchant for suffering that harkened back to childhood illnesses. I earned my High school International Baccalaureate degree in 2006 while also professionally gigging at night. I specialized in Spanish and Biology and Red Bull. Lots of Red Bull.</p>
    </div>
  </div>
</div>
<div class="TL_year">
  <h1 class="TLM_2006">2011</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img src="/assets/berklee_large.png" class="hide-for-large-up TLM_image">
    <div class="content_box">
      <h1>BERKLEE COLLEGE OF MUSIC</h1>
      <p>Berklee College of Music, majoring in Music Business and Rock Violin Performance, was an amazing experience. It was also at this time that I began work in film scoring. I joined the Boston Musician’s Union, which knew my story and kindly referred me to have an article in International Musician magazine that year.</p>
    </div>
  </div>
  <div class="large-6 columns timeline2">
    <img class="TL_image show-for-large-up" src="/assets/berklee_large.png">
  </div>
</div>
<div class="TL_year">
  <h1 class="TLM_2012">2012</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img class="left_image TL_image show-for-large-up" src="/assets/neuro_large.png">
  </div>
  <div class="large-6 columns timeline2">
    <img src="/assets/neuro_large.png" class="hide-for-large-up TLM_image">
    <div class="content_box">
      <h1>NEUROSCIENCE DEGREE</h1>
      <p>Earned a Degree in Neuroscience from the University of Nebraska at Omaha. I pursued this degree once I found out that my ability to hear sounds as colors is, in fact, not normal but a phenomenon known as synesthesia. I had also been Concertmaster of the Intergenerational Orchestra of Omaha, which played in nursing homes. Observing the effects of neurodegenerative diseases in a primary audience was another driving factor in my decision to pursue neuroscience.</p>
    </div>
  </div>
</div>
<div class="TL_year">
  <h1 class="TLM_2013">2013</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img src="/assets/kaitlynhovamannheim.png" class="hide-for-large-up TLM_image">
    <div class="content_box">
      <h1>MANNHEIM STEAMROLLER DEAL</h1>
      <p>After playing in Mannheim Steamroller’s string section for 9 years, I worked on musical and scientific projects with American Gramaphone records.</p>
    </div>
  </div>
  <div class="large-6 columns timeline2">
    <img class="TL_image show-for-large-up" src="/assets/kaitlynhovamannheim.png" >
  </div> 
</div>

<div class="TL_year">
  <h1 class="TLM_2013">2013</h1>
</div>

<div>
  <div class="large-6 columns timeline1 show-for-large-up">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <iframe width="100%" class="show-for-large-up"  height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62139138&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> 
  </div>
  <div class="large-6 columns timeline2">
    
     <iframe width="100%" class="hide-for-large-up"  height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62139138&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> 
    <div class="content_box">
      <h1>SOLO SINGLES</h1>
      <p>Three solo singles were released : Such Great Heights (remix), Super Bass (remix) and Fireflies (remix).</p>
    </div>
  </div>
</div>

<div class="TL_year">
  <h1 class="TLM_2013">2013</h1>
</div>

<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <iframe class="hide-for-large-up"  style="position:relative; z-index: 1000;" width="100%" height="300" src="//www.youtube.com/embed/Dr26Y4TUtfw" frameborder="0" allowfullscreen></iframe>
    <div class="content_box">
      <h1>MARRIED</h1>
      <p>It’s official! I married my best friend on August 16th, 2013. Changing my name from “Kaitlyn Maria Filippini” to “Kaitlyn Hova”.</p>
    </div>
  </div>
  <div class="show-for-large-up large-6 columns timeline2">
    <iframe class="show-for-large-up" style="position:relative; z-index: 1000;" width="100%" height="300" src="//www.youtube.com/embed/Dr26Y4TUtfw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="TL_year">
  <h1 class="TLM_2012">2014</h1>
</div>
<div>
  <div class="large-6 columns timeline1">
    <img class="TL_dot show-for-large-up" src="/assets/dot.png">
    <img class="left_image TL_image show-for-large-up" src="/assets/WSF_large.png" >
  </div>
  <div class="large-6 columns timeline2">
    <img src="/assets/WSF_large.png" class="hide-for-large-up TLM_image">
    <div class="content_box">
      <h1>WORLD SCIENCE FESTIVAL</h1>
      <p>Earned a Degree in Neuroscience from the University of Nebraska at Omaha. I pursued this degree once I found out that my ability to hear sounds as colors is, in fact, not normal but a phenomenon known as synesthesia. I had also been Concertmaster of the Intergenerational Orchestra of Omaha, which played in nursing homes. Observing the effects of neurodegenerative diseases in a primary audience was another driving factor in my decision to pursue neuroscience.</p>
    </div>
  </div>
</div>