
<p id="contact"> </p>

<div class="bottom_nav row" style="color:whitesmoke;">
  <div class="large-6 columns">
    <h1 class="bottom_nav_h1 bottom_header">CLIENT LOG IN</h1>
    <p class="subheader sub2">check in <p>
      <div class ="client_login">
        <%= form_tag logins_path do %>
          <p><%= text_field_tag 'email', nil, :autocomplete => :off, placeholder: 'EMAIL',:class => "inputtimes" %></p>
          <p><%= password_field_tag 'password', nil, placeholder: 'PASSWORD',:class => "inputtimes", :autocomplete => :off %></p>
  
          <%= submit_tag "LOG IN" , :class => "submit_button"%>
        <% end %>
      </div>
  </div>
  <div class="large-6 columns">
    <h1 class="bottom_nav_h1 bottom_header">CONTACT </p>
    <p class="subheader sub2" style="position:relative; top: -5px;">say hello <p>
    <p style="font-family: 'europa' !important; font-weight:lighter !important; position:relative; top:90px;">
      <a href="mailto:KaitlynHova@gmail.com?Subject=Right%20Brain" target="_top">KaitlynHova@gmail.com</a>
    </p>
    <div class="row socialrow">
      <div class="small-3 large-3 columns">
        <a href="http://instagram.com/kaitlynhova" target="_blank">
          <p class="instagram"></p>
        </a>
      </div>
      <div class="small-3 large-3 columns">
        <a href="https://soundcloud.com/kaitlynhova" target="_blank">
          <p class="soundcloud"></p>
        </a>
      </div>
      <div class="small-3 large-3 columns">
        <a href="https://www.facebook.com/KaitlynHova" target="_blank">
          <p class="facebook"></p>
        </a>
      </div>
      <div class="small-3 large-3 columns">
        <a href="https://twitter.com/KaitlynHova" target="_blank">
          <p class="twitter"></p>
        </a>
      </div>
    </div>
    
  </div>
</div>




