<div id="solo_music">	
    <h1> MUSIC</h1>
    <h3> discography</h3>
    
    <div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">

			</div>
			<section class="grid3d vertical" id="grid3d">
				<div class="grid-wrap" style="-webkit-perspective-origin-y: 0px !important;">
					<div class="grid">
            <figure><img src="assets/discography/Universecontest.png" alt="img01"/></figure>
            <figure><img src="assets/discography/banshee.png" alt="img05"/></figure>
            <figure><img src="assets/discography/cannonista.png" alt="img08"/></figure>
            <figure><img src="assets/discography/adelaide.png" alt="img02"/></figure>
            <figure><img src="assets/discography/amillionpardons.png" alt="img04"/></figure>
            <figure><img src="assets/discography/amillionpardons.png" alt="img03"/></figure>
            <figure><img src="assets/discography/greenlikejuly.png" alt="img01"/></figure>
            <figure><img src="assets/discography/greenlikejuly.png" alt="img01"/></figure>
            <figure><img src="assets/discography/skypiper1.png" alt="img05"/></figure>
            <figure><img src="assets/discography/skypiper1.png" alt="img08"/></figure>
            <figure><img src="assets/discography/skypiper1.png" alt="img02"/></figure>
            <figure><img src="assets/discography/AYGAMG.png" alt="img04"/></figure>
            <figure><img src="assets/discography/badcountry.png" alt="img03"/></figure>
            <figure><img src="assets/discography/thebigdeep.png" alt="img01"/></figure>
            <figure><img src="assets/discography/skypiper2.png" alt="img05"/></figure>
            <figure><img src="assets/discography/skypiper2.png" alt="img08"/></figure>
            <figure><img src="assets/discography/nocoast.png" alt="img02"/></figure>
            <figure><img src="assets/discography/nocoast.png" alt="img02"/></figure>
            <figure><img src="assets/discography/filterkings.png" alt="img04"/></figure>
            <figure><img src="assets/discography/answerteam1.png" alt="img03"/></figure>
            <figure><img src="assets/discography/answerteam2.png" alt="img01"/></figure>
            <figure><img src="assets/discography/kfilippini.png" alt="img05"/></figure>
					</div>
				</div><!-- /grid-wrap -->
				<div class="content">
          
					<div>
						<iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62736144&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">UNIVERSE CONTEST</p>
						<p class="dummy-text">The day the world took pills</p>
					</div>
          
					<div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62743542&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">BANSHEE</p>
						<p class="dummy-text">Legends Lost</p>
					</div>
          
					<div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62742541&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">CANNONISTA</p>
						<p class="dummy-text">Sexomnia</p>
					</div>
          
					<div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62736632&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">ADELAIDE</p>
						<p class="dummy-text">Find me love</p>
					</div>
          
					<div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/77939324&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">A MILLION PARDONS</p>
						<p class="dummy-text">Pretty sure</p>
					</div>
          
					<div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/77939139&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">A MILLION PARDONS</p>
						<p class="dummy-text">Bj lee</p>
					</div>
          
					<div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111241576&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">GREEN LIKE JULY</p>
						<p class="dummy-text">Good luck Bridge</p>
					</div>
          
					<div>
           <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111241031&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">GREEN LIKE JULY</p>
						<p class="dummy-text">An ordinary friend</p>
					</div>
          
					<div>
           <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62740765&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">SKYPIPER</p>
						<p class="dummy-text">Nic of time</p>
					</div>
          <div>
           <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62741483&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">SKYPIPER</p>
						<p class="dummy-text">Don't let your sun go down</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62741638&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">SKYPIPER</p>
						<p class="dummy-text">My sun went down</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62739820&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">ALL YOUNG GIRLS ARE MACHINE GUNS</p>
						<p class="dummy-text">Before we know</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/109497398&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">BAD COUNTRY</p>
						<p class="dummy-text">The Fox</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62742235&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">THE BIG DEEP</p>
						<p class="dummy-text">One of a hundred</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62740215&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">SKYPIPER</p>
						<p class="dummy-text">Intermission</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62740444&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">SKYPIPER</p>
						<p class="dummy-text">Cleaver old devil</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62739508&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">NO COAST NOVEMBER</p>
						<p class="dummy-text">Old words in new phrases</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62735626&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">NO COAST NOVEMBER</p>
						<p class="dummy-text">Never ever always</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62738518&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">FILTER KINGS</p>
						<p class="dummy-text">Its in the song</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62738069&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">THE ANSWER TEAM</p>
						<p class="dummy-text">Other planets</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62737525&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">THE ANSWER TEAM</p>
						<p class="dummy-text">Summer in the rain</p>
					</div>
          
          <div>
            <iframe width="100%" height="450" style="max-width:600px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62736144&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						<p class="dummy-text">KAITLYN MARIA FILIPPINI</p>
						<p class="dummy-text">Grey rain</p>
					</div>
          
          
					<span class="loading"></span>
					<span class="icon close-content"></span>
				</div>
			</section>
			<section>
			</section>
		</div><!-- /container -->
		<script>
			new grid3D( document.getElementById( 'grid3d' ) );
		</script>
</div>