<div class="hide-for-medium-up mobilenav_bar">        
        <button type="button" id="trigger-overlay" role="button" aria-label="Toggle Navigation" id="mbtn" class="toggle lines-button x">
          <span class="lines"></span>
        </button>
</div>


<div class="overlay show-for-small-only">
  <div class="mobiletext">
  					<p class="overlay_p">
              <a href="#about_section">About</a>
            </p>
  					<p id="mobile_music" class="overlay_p2"><a href="#">Music</a></p>
            <div id="mobile_music_subnav">
                <div class="small-3 large-3 columns">
                  <a href="/#solomusic">solo</a>
                </div>
                <div class="small-3 large-3 columns">
                  <a href="/commercial_music">film</a>
                  </div>
                <div class="small-3 large-3 columns">
                  <a href="/discography">other</a>
                </div>
                <div class="small-3 large-3 columns">
                  <a href="bridal_music">bridal</a>
                  </div>
            </div>
            <p class="overlay_p2"><a href="#">Violins</a></p>
  					<p id="mobile_media" class="overlay_p2"><a href="#">Media</a></p>
            <div id="mobile_media_subnav">
                <div class="small-4 large-4 columns">
                  <a href="/videos">video</a>
                  </div>
                <div class="small-4 large-4 columns">
                  <a href="/photos">photo</a>
                  </div>
                <div class="small-4 large-4 columns">
                  <a href="/press">press</a>
                  </div>

            </div>
  					<p class="overlay_p2"><a href="/art">Art</a></p>
  					<p class="overlay_p2"><a href="/#contact">Contact</a></p> 
    </div>
</div>


