<div class="hide-for-medium-up mobilenav_bar">        
        <button type="button" id="trigger-overlay" role="button" aria-label="Toggle Navigation" id="mbtn" class="lines-button x">
          <span class="lines"></span>
        </button>
</div>

		<div class="overlay overlay-scale">
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Work</a></li>
					<li><a href="#">Clients</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>