<div class="hide-for-medium-up mobilenav_bar">        
        <button type="button" id="trigger-overlay" role="button" aria-label="Toggle Navigation" id="mbtn" class="toggle lines-button x">
          <span class="lines"></span>
        </button>
</div>

<div class="overlay" st>
</div>