<div class="navbg stay show-for-medium-up">  
  <div class="row main_navigation">
    <div class="small-2 large-2 columns">
      <a id = "about" href="/#about_section">About</a>
    </div>
    <div class="small-2 large-2 columns">
      <a id = "music" href="#solo_music">Music</a>
    </div>
    <div class="small-2 large-2 columns">Violins</div>
    <div class="small-2 large-2 columns">Galery</div>
    <div class="small-2 large-2 columns">
      <a href="/art">Art</a>
    </div>
    <div class="small-2 large-2 columns">Contact</div>
  </div>
  <div id="music_submenu" class="goaway">
    <div>
      <div class="small-3 large-3 columns">Solo</div>
      <div class="small-3 large-3 columns">
        <a href="/commercial_music">Commercial</a>
      </div>
      <div class="small-3 large-3 columns">
        <a href="/discography">Discography</a>
      </div>
      <div class="small-3 large-3 columns">
        <a href="/bridal_music">Bridal</a>
      </div>
    </div>
  </div>
</div>
<img src="assets/triangle.png" id="that_triangle" class="show-for-medium-up">