<%= render 'fancybox_script' %>	
<div class="press_page">
  <h1>press</h1>

  
	<ul class="grid effect-1" id="grid">
                        <li><a class="fancybox" href="/assets/press/press20.png" data-fancybox-group="gallery" title="College World Series Anthem :: <a href='http://hearnebraska.org/content/sharing-synesthesia-kaitlyn-and-matt-hovanec-video-feature'>Read</a> "><img src="/assets/press/press20.png"></a></li>
				<li><a class="fancybox" href="/assets/press/press1.gif" data-fancybox-group="gallery" title="Best DJ/Electronic 2013 :: <a href='http://oea-awards.com/winners/'>Read</a>"><img src="/assets/press/press1.gif"></a></li>
        <li><a class="fancybox" href="/assets/press/press2.png" data-fancybox-group="gallery" title="World Herald newspaper front page :: <a href='http://www.omaha.com/news/hansen-for-omaha-violinist-every-note-has-a-distinct-color/article_cbe45cfa-6b5e-5c1e-98ec-b018392a713d.html'>Read</a>"><img src="/assets/press/press2.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press19.png" data-fancybox-group="gallery" title="College World Series Anthem :: <a href='http://www.cwsomaha.com/index.php?option=com_content&task=view&id=58670'>Read</a> "><img src="/assets/press/press19.png"></a></li>  
        <li><a class="fancybox" href="/assets/press/press3.png" data-fancybox-group="gallery" title="Omaha Magazine :: <a href='http://omahamagazine.com/2013/11/force-of-nature/'>Read</a>"><img src="/assets/press/press3.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press4.png" data-fancybox-group="gallery" title="The Strad Interview"><img src="/assets/press/press4.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press18.png" data-fancybox-group="gallery" title="Hear Nebraksa Lady Gaga Audition :: <a href='http://hearnebraska.org/content/lady-gaga-audition-mia-maria-love-drunk-video'>Read</a> "><img src="/assets/press/press18.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press5.png" data-fancybox-group="gallery" title="International Musician Article"><img src="/assets/press/press5.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press6.png" data-fancybox-group="gallery" title="International Musician Article"><img src="/assets/press/press6.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press7.png" data-fancybox-group="gallery" title="International Musician Article"><img src="/assets/press/press7.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press8.png" data-fancybox-group="gallery" title="The Reader Article"><img src="/assets/press/press8.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press9.png" data-fancybox-group="gallery" title="Greater Chamber Photo"><img src="/assets/press/press9.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press10.png" data-fancybox-group="gallery" title="World Herald Living Section"><img src="/assets/press/press10.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press11.png" data-fancybox-group="gallery" title="World Herald Living Section"><img src="/assets/press/press11.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press12.png" data-fancybox-group="gallery" title="World Herald Living Section"><img src="/assets/press/press12.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press13.png" data-fancybox-group="gallery" title="Reader Advertisement"><img src="/assets/press/press13.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press14.png" data-fancybox-group="gallery" title="Featured Book Chapter"><img src="/assets/press/press14.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press15.png" data-fancybox-group="gallery" title="Featured Book Chapter"><img src="/assets/press/press15.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press16.png" data-fancybox-group="gallery" title="Omaha Entertainment Nomination :: <a href='http://oea-awards.com/news-home/2013/9/10/8th-annual-oeaa-nominees.html'>Read</a>"><img src="/assets/press/press16.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press17.png" data-fancybox-group="gallery" title="New Horizons Cover"><img src="/assets/press/press17.png"></a></li>
        <li><a class="fancybox" href="/assets/press/press19.png" data-fancybox-group="gallery" title="College World Series Anthem :: <a href='http://www.cwsomaha.com/index.php?option=com_content&task=view&id=58640'>Read</a> "><img src="/assets/press/press19.png"></a></li>   
        
        
        
        
        
        
        
          
	</ul>
	<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
	</script>
</div>