

<div style="position:relative; top:30px;">
  <div>
    <div class="small-4 large-4 columns white">...</div>
    <div class="small-4 large-4 columns white"><hr class="top_hr"></div>
    <div class="small-4 large-4 columns white">...</div>
  </div>

  <blockquote class="bottom_quote">"It would be really cool to have a quote right here. I'll think one up"</blockquote>
  <p class="khova">- Kaitlyn Hova </p>
  <div >
    <div class="small-4 large-4 columns white">...</div>
    <div class="small-4 large-4 columns"><hr class="bottom_hr"></div>
    <div class="small-4 large-4 columns white">...</div>
  </div>
</div>
