<div id="solo_music">	
    <h1> MUSIC</h1>
    <h3> solo</h3>
    
    <div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">

			</div>
			<section class="grid3d vertical" id="grid3d">
				<div class="grid-wrap" style="-webkit-perspective-origin-y: 0px !important;">
					<div class="grid">
						<figure><img src="assets/COB_icon.png" alt="img01"/></figure>
						<figure><img src="assets/SB_icon.png" alt="img05"/></figure>
						<figure><img src="assets/SGH_icon.png" alt="img08"/></figure>
						<figure><img src="assets/OC_icon.png" alt="img02"/></figure>
						<figure><img src="assets/SD_icon.png" alt="img04"/></figure>
						<figure><img src="assets/5o_icon.png" alt="img03"/></figure>
					</div>
				</div><!-- /grid-wrap -->
				<div class="content">
					<div>
						
						<p class="dummy-text dummy-title">CAROL OF THE BASS</p>
						<p class="dummy-text">This is the first single from my holiday endeavor : )</p>
					</div>
					<div>
						
						<p class="dummy-text dummy-title">SUPER BASS</p>
						<p class="dummy-text">Niki Manaj cover</p>
					</div>
					<div>
						
						<p class="dummy-text dummy-title">SUCH GREAT HEIGHTS</p>
						<p class="dummy-text">The Postal Service cover (cover of a cover)</p>
					</div>
					<div>
						
						<p class="dummy-text dummy-title">OWL CITY</p>
						<p class="dummy-text">Owl City mash up</p>
					</div>
					<div>
						
						<p class="dummy-text dummy-title">SEATTLE DREAM</p>
						<p class="dummy-text">Katy Perry + Owl City mash up</p>
					</div>
					<div>
						
						<p class="dummy-text dummy-title">5 O'CLOCK IN THE MORNING</p>
						<p class="dummy-text">Once you hear this version you won't be able to get it out of your head</p>
					</div>
					<span class="loading"></span>
					<span class="icon close-content"></span>
				</div>
			</section>
			<section>
			</section>
		</div><!-- /container -->
		<script>
			new grid3D( document.getElementById( 'grid3d' ) );
		</script>
</div>