<div class="art_page">
  <h1>art</h1>
	<ul class="grid effect-1" id="grid">
				<li><a href="/assets/art/1.jpg" data-lightbox="roadtrip"><img src="/assets/art/1.jpg"></a></li>
        <li><a href="/assets/art/2.jpg" data-lightbox="roadtrip"><img src="/assets/art/2.jpg"></a></li>
        <li><a href="/assets/art/3.jpg" data-lightbox="roadtrip"><img src="/assets/art/3.jpg"></a></li>
        <li><a href="/assets/art/4.jpg" data-lightbox="roadtrip"><img src="/assets/art/4.jpg"></a></li>
        <li><a href="/assets/art/5.jpg" data-lightbox="roadtrip"><img src="/assets/art/5.jpg"></a></li>
        <li><a href="/assets/art/6.jpg" data-lightbox="roadtrip"><img src="/assets/art/6.jpg"></a></li>
        <li><a href="/assets/art/7.jpg" data-lightbox="roadtrip"><img src="/assets/art/7.jpg"></a></li>
        <li><a href="/assets/art/8.jpg" data-lightbox="roadtrip"><img src="/assets/art/8.jpg"></a></li>
        <li><a href="/assets/art/9.jpg" data-lightbox="roadtrip"><img src="/assets/art/9.jpg"></a></li>
        <li><a href="/assets/art/10.jpg" data-lightbox="roadtrip"><img src="/assets/art/10.jpg"></a></li>
        <li><a href="/assets/art/11.jpg" data-lightbox="roadtrip"><img src="/assets/art/11.jpg"></a></li>
        <li><a href="/assets/art/12.jpg" data-lightbox="roadtrip"><img src="/assets/art/12.jpg"></a></li>
        <li><a href="/assets/art/13.jpg" data-lightbox="roadtrip"><img src="/assets/art/13.jpg"></a></li>
        <li><a href="/assets/art/14.jpg" data-lightbox="roadtrip"><img src="/assets/art/14.jpg"></a></li>
        <li><a href="/assets/art/15.jpg" data-lightbox="roadtrip"><img src="/assets/art/15.jpg"></a></li>
        <li><a href="/assets/art/16.jpg" data-lightbox="roadtrip"><img src="/assets/art/16.jpg"></a></li>
        <li><a href="/assets/art/17.jpg" data-lightbox="roadtrip"><img src="/assets/art/17.jpg"></a></li>
        <li><a href="/assets/art/18.jpg" data-lightbox="roadtrip"><img src="/assets/art/18.jpg"></a></li>
        <li><a href="/assets/art/19.jpg" data-lightbox="roadtrip"><img src="/assets/art/19.jpg"></a></li>   
        <li><a href="/assets/art/20.jpg" data-lightbox="roadtrip"><img src="/assets/art/20.jpg"></a></li>
        <li><a href="/assets/art/21.jpg" data-lightbox="roadtrip"><img src="/assets/art/21.jpg"></a></li>
        <li><a href="/assets/art/22.jpg" data-lightbox="roadtrip"><img src="/assets/art/22.jpg"></a></li>
        <li><a href="/assets/art/23.jpg" data-lightbox="roadtrip"><img src="/assets/art/23.jpg"></a></li>
        <li><a href="/assets/art/24.jpg" data-lightbox="roadtrip"><img src="/assets/art/24.jpg"></a></li>
        <li><a href="/assets/art/25.jpg" data-lightbox="roadtrip"><img src="/assets/art/25.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/26.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/27.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/28.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/29.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/30.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/31.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/32.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/33.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/34.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/35.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/36.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/37.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/38.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/39.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/40.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/41.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/42.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/43.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/44.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/45.jpg"></a></li>
        <li><a href="/assets/art/26.jpg" data-lightbox="roadtrip"><img src="/assets/art/46.jpg"></a></li>
          
	</ul>
	<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
	</script>
</div>