<div class="photos_page">
    <h1> MUSIC</h1>
    <h3> bridal</h3>
    <div class="row">
      <p>I am available for weddings ceremonies and receptions as a solo violinist or for violin/piano, violin/guitar, violin/dj, and violin/pretty much anything duo. In order to customize your special day, any song you want is available (classical to contemporary). </p>
    <p>For pricing and availablility, please send a message to kaitylnhova@gmail.com</p>
    </div>
<%= render 'bridal' %>
</div>