

  <img src="assets/kaitlynhovaname.png" id="name">
  
<div id="title_photos">  
  <img src="assets/1.png" id="moving_photo1" class="show_yourself">

  <img src="assets/2.png"  id="moving_photo2">

  <img src="assets/3.png"  id="moving_photo3">
</div>

<%= render 'solo_music' %>
