
<img src="assets/kaitlynhovaname.png" id="name" class="stay">
  
<div id="title_photos">  
  <img src="assets/1a.png" id="moving_photo1" class="show_yourself">

  <img src="assets/2a.png"  id="moving_photo2">

  <img src="assets/3a.png"  id="moving_photo3">
</div>

<div>
    <h1>Violinist - Composer - Synesthete - Artist - Best Friend</h1>
    <div class="row">
      <p>Hello world, </p>
      <p>I believe that art and science are most impactful when they inform each other. Having Synesthesia has helped me musically, as a performer and composer, and also scientifically, as a neuroscientist and researcher. I created this website to share my experiences and projects with the world in an engaging and collaborative way. Feel free to have a look around, and don't forget to say hey : )</p>
      
      <p>You can check out my resume here</p>

      <p>I am an advocate for music education, and am allowing free downloads of my own 3D printable violins. To learn more about this exciting music education initiative, please click here.</p>

      <p>Let's Change the World</p>
      <img src="/assets/signature.png">
    </div>
</div>
<%= render 'solo_music' %>

<%= render 'about' %>

			<section class="related">
				<p>Lets Change the World</p>
				<a href="">
					
					<h3>Email me</h3>
				</a>
				<a href="">
					
					<h3>tweet me</h3>
				</a>
			</section>
