
<img src="assets/kaitlynhovaname.png" id="name" class="stay">
  
<div id="title_photos">  
  <img src="assets/1a.png" id="moving_photo1" class="show_yourself">

  <img src="assets/2a.png"  id="moving_photo2">

  <img src="assets/3a.png"  id="moving_photo3">
</div>

<%= render 'nav' %>
<div>
    <h1>A violinist, Composer, and Synesthete.</h1>
</div>
<%= render 'solo_music' %>

<%= render 'about' %>

			<section class="related">
				<p>Lets Change the World</p>
				<a href="http://tympanus.net/Tutorials/TiltedContentSlideshow/">
					<img src="http://tympanus.net/codrops/wp-content/uploads/2014/03/TiltedContentSlideshow-300x162.jpg" />
					<h3>Email me</h3>
				</a>
				<a href="http://tympanus.net/Development/GridLoadingEffects/">
					<img src="http://tympanus.net/codrops/wp-content/uploads/2013/07/GridLoadingEffects-300x162.png" />
					<h3>tweet me</h3>
				</a>
			</section>
