
<img src="assets/kaitlynhovaname.png" id="name" class="stay">
  
<div id="title_photos">  
  <img src="assets/1a.png" id="moving_photo1" class="show_yourself">

  <img src="assets/2a.png"  id="moving_photo2">

  <img src="assets/3a.png"  id="moving_photo3">
</div>

<%= render 'nav' %>
<div>
    <h1>A violinist, Composer, and Synesthete.</h1>
</div>
<%= render 'solo_music' %>
