<div class="photos_page">
  <h1>photos</h1>
	<ul class="grid effect-1" id="grid">
				<li><a href="/assets/photos/1.jpg" data-lightbox="roadtrip"><img src="/assets/photos/1.jpg"></a></li>
        <li><a href="/assets/photos/2.jpg" data-lightbox="roadtrip"><img src="/assets/photos/2.jpg"></a></li>
        <li><a href="/assets/photos/3.jpg" data-lightbox="roadtrip"><img src="/assets/photos/3.jpg"></a></li>
        <li><a href="/assets/photos/4.jpg" data-lightbox="roadtrip"><img src="/assets/photos/4.jpg"></a></li>
        <li><a href="/assets/photos/5.jpg" data-lightbox="roadtrip"><img src="/assets/photos/5.jpg"></a></li>
        <li><a href="/assets/photos/6.jpg" data-lightbox="roadtrip"><img src="/assets/photos/6.jpg"></a></li>
        <li><a href="/assets/photos/7.jpg" data-lightbox="roadtrip"><img src="/assets/photos/7.jpg"></a></li>
        <li><a href="/assets/photos/8.jpg" data-lightbox="roadtrip"><img src="/assets/photos/8.jpg"></a></li>
        <li><a href="/assets/photos/9.jpg" data-lightbox="roadtrip"><img src="/assets/photos/9.jpg"></a></li>
        <li><a href="/assets/photos/10.jpg" data-lightbox="roadtrip"><img src="/assets/photos/10.jpg"></a></li>
        <li><a href="/assets/photos/11.jpg" data-lightbox="roadtrip"><img src="/assets/photos/11.jpg"></a></li>
        <li><a href="/assets/photos/12.jpg" data-lightbox="roadtrip"><img src="/assets/photos/12.jpg"></a></li>
        <li><a href="/assets/photos/13.jpg" data-lightbox="roadtrip"><img src="/assets/photos/13.jpg"></a></li>
        <li><a href="/assets/photos/14.jpg" data-lightbox="roadtrip"><img src="/assets/photos/14.jpg"></a></li>
        <li><a href="/assets/photos/15.jpg" data-lightbox="roadtrip"><img src="/assets/photos/15.jpg"></a></li>
        <li><a href="/assets/photos/16.jpg" data-lightbox="roadtrip"><img src="/assets/photos/16.jpg"></a></li>
        <li><a href="/assets/photos/17.jpg" data-lightbox="roadtrip"><img src="/assets/photos/17.jpg"></a></li>
        <li><a href="/assets/photos/18.jpg" data-lightbox="roadtrip"><img src="/assets/photos/18.jpg"></a></li>
        <li><a href="/assets/photos/19.jpg" data-lightbox="roadtrip"><img src="/assets/photos/19.jpg"></a></li>   
        <li><a href="/assets/photos/20.jpg" data-lightbox="roadtrip"><img src="/assets/photos/20.jpg"></a></li>
        <li><a href="/assets/photos/21.jpg" data-lightbox="roadtrip"><img src="/assets/photos/21.jpg"></a></li>
        <li><a href="/assets/photos/22.jpg" data-lightbox="roadtrip"><img src="/assets/photos/22.jpg"></a></li>
        <li><a href="/assets/photos/23.jpg" data-lightbox="roadtrip"><img src="/assets/photos/23.jpg"></a></li>
        <li><a href="/assets/photos/24.jpg" data-lightbox="roadtrip"><img src="/assets/photos/24.jpg"></a></li>
        <li><a href="/assets/photos/25.jpg" data-lightbox="roadtrip"><img src="/assets/photos/25.jpg"></a></li>
        <li><a href="/assets/photos/26.jpg" data-lightbox="roadtrip"><img src="/assets/photos/26.jpg"></a></li>
          
	</ul>
	<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
	</script>
</div>