<%= render 'fancybox_script' %>	
<div class="photos_page">
  <h1>photos</h1>
  
	<ul class="grid effect-1" id="grid">
        <li><a class="fancybox" href="/assets/photos/4.jpg" data-fancybox-group="gallery"><img src="/assets/photos/4.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/9.jpg" data-fancybox-group="gallery"><img src="/assets/photos/9.jpg"></a></li>
       
        <li><a class="fancybox" href="/assets/photos/29.jpg" data-fancybox-group="gallery"><img src="/assets/photos/29.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/31.jpg" data-fancybox-group="gallery"><img src="/assets/photos/31.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/30.jpg" data-fancybox-group="gallery"><img src="/assets/photos/30.jpg"></a></li>
        
        <li><a class="fancybox" href="/assets/photos/32.jpg" data-fancybox-group="gallery"><img src="/assets/photos/32.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/9.jpg" data-fancybox-group="gallery"><img src="/assets/photos/9.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/34.jpg" data-fancybox-group="gallery"><img src="/assets/photos/34.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/35.jpg" data-fancybox-group="gallery"><img src="/assets/photos/35.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/36.jpg" data-fancybox-group="gallery"><img src="/assets/photos/36.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/38.jpg" data-fancybox-group="gallery"><img src="/assets/photos/38.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/39.jpg" data-fancybox-group="gallery"><img src="/assets/photos/39.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/40.jpg" data-fancybox-group="gallery"><img src="/assets/photos/40.jpg"></a></li>
				<li><a class="fancybox" href="/assets/photos/1.jpg" data-fancybox-group="gallery"><img src="/assets/photos/1.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/2.jpg" data-fancybox-group="gallery"><img src="/assets/photos/2.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/3.jpg" data-fancybox-group="gallery"><img src="/assets/photos/3.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/28.jpg" data-fancybox-group="gallery"><img src="/assets/photos/28.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/5.jpg" data-fancybox-group="gallery"><img src="/assets/photos/5.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/6.jpg" data-fancybox-group="gallery"><img src="/assets/photos/6.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/7.jpg" data-fancybox-group="gallery"><img src="/assets/photos/7.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/8.jpg" data-fancybox-group="gallery"><img src="/assets/photos/8.jpg"></a></li>
        
        <li><a class="fancybox" href="/assets/photos/10.jpg" data-fancybox-group="gallery"><img src="/assets/photos/10.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/11.jpg" data-fancybox-group="gallery"><img src="/assets/photos/11.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/12.jpg" data-fancybox-group="gallery"><img src="/assets/photos/12.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/13.jpg" data-fancybox-group="gallery"><img src="/assets/photos/13.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/14.jpg" data-fancybox-group="gallery"><img src="/assets/photos/14.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/15.jpg" data-fancybox-group="gallery"><img src="/assets/photos/15.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/16.jpg" data-fancybox-group="gallery"><img src="/assets/photos/16.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/17.jpg" data-fancybox-group="gallery"><img src="/assets/photos/17.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/18.jpg" data-fancybox-group="gallery"><img src="/assets/photos/18.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/19.jpg" data-fancybox-group="gallery"><img src="/assets/photos/19.jpg"></a></li>   
        <li><a class="fancybox" href="/assets/photos/20.jpg" data-fancybox-group="gallery"><img src="/assets/photos/20.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/21.jpg" data-fancybox-group="gallery"><img src="/assets/photos/21.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/22.jpg" data-fancybox-group="gallery"><img src="/assets/photos/22.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/23.jpg" data-fancybox-group="gallery"><img src="/assets/photos/23.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/24.jpg" data-fancybox-group="gallery"><img src="/assets/photos/24.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/25.jpg" data-fancybox-group="gallery"><img src="/assets/photos/25.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/26.jpg" data-fancybox-group="gallery"><img src="/assets/photos/26.jpg"></a></li>
        <li><a class="fancybox" href="/assets/photos/27.jpg" data-fancybox-group="gallery"><img src="/assets/photos/27.jpg"></a></li>
        
        
          
	</ul>
	<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
	</script>
</div>