<%= render 'fancybox_script' %>

<h1>press</h1>


		<a class="fancybox" href="/assets/art/1.jpg" data-fancybox-group="gallery"><img src="/assets/art/1.jpg" alt="" /></a>

		<a class="fancybox" href="/assets/art/2.jpg" data-fancybox-group="gallery"><img src="/assets/art/2.jpg" alt="" /></a>

		<a class="fancybox" href="/assets/art/3.jpg" data-fancybox-group="gallery"><img src="/assets/art/3.jpg" alt="" /></a>

		<a class="fancybox" href="/assets/art/4.jpg" data-fancybox-group="gallery"><img src="/assets/art/4.jpg" alt="" /></a>

  <%= render 'press' %>