<div class="resume_photo">
  <div class="resume_header">
    <h1>KAITLYN HOVA</h1>
    <p>RESUME</p>
  </div>
</div>

<div class="resume_page">
  


  <div class="row">
    <div class="large-6 columns">
      <h1>EXPERIENCE</h1>
      <hr>
      <div>
        <p>
          <strong>The New BLK</strong>
          <p>Creative</p>
          <p>2/2013-11/2013</p>
        </p>
      </div>
      <div>
        <p><strong> Mannheim Steamroller</p></strong>
        <p>Solo Artist</p>
        <p>1/2012 – 5/2012</p>
      </div>
      <div>
        <p><strong>American Federation of Musicians</strong></p>
        <p>Intern</p>
        <p>2007-2008<p>
      </div>
      
      
      
      
      <h1>MUSIC EDUCATION</h1>
      <hr>
      <div>
        <p>
          <strong>University of Nebraska at Omaha</strong>
          <p>Major: Violin Performance</p>
          <p>2007-2008</p>
        </p>
      </div>
      <div>
        <p><strong> Berklee College of Music</p></strong>
        <p>Major: Rock Violin Performance/ Music Business</p>
        <p>2006-2007</p>
      </div>
      
      
      
      
      <h1>COMMERCIAL MUSIC</h1>
      <hr>
      <div>
        <p>
          <strong>RedBull</strong>
        </p>
      </div>
      <div>
        <p><strong>Vestin</p></strong>
      </div>
      
      
      
      
      <h1>FILMSCORING</h1>
      <hr>
      <div>
        <p>
          <strong>Writer's Block'</strong>
          <p>2010</p>
          <p>Director: Zach Janky</p>
        </p>
      </div>
      <div>
        <p><strong>8 bit</p></strong>
        <p>2010</p>
        <p>Director: Zach Janky</p>
      </div>
      
      
      
      
      <h1>MUSICAL THEATRE</h1>
      <hr>
      <div>
        <p><strong>Rave on! The Buddy Holly Experience</strong></p>
      </div>
      <div>
        <p><strong>West Side Story</p></strong>
      </div>
      <div>
        <p><strong>Les Miserables</p></strong>
      </div>
      <div>
        <p><strong>The Best Little Whore House in Texas</p></strong>
      </div>
      <div>
        <p><strong>The Robber Bridegroom </p></strong>
      </div>
      
      
      
      
      <h1>NATIONAL ANTHEMS</h1>
      <hr>
      <div>
        <p><strong>College World Series Home Run Derby </p></strong>
        <p>2014</p>
      </div>
      <div>
        <p><strong>College World Series </p></strong>
        <p>2013</p>
      </div>
      <div>
        <p><strong>College World Series Chamionship Game II</p></strong>
        <p>2012</p>
      </div>
      <div>
        <p><strong>Maverecks Hockey Game</p></strong>
        <p>2012</p>
      </div>
      
      
      <h1>MEMBERSHIP</h1>
      <hr>
      <div>
        <p><strong>Omaha’s Musician’s Association </p></strong>
        <p>Local 70-558/AFM</p>
        <p>2005- Present</p>
      </div>
      
    
    
      
      
    </div>
    <div class="large-6 columns">
      
      
      
      <h1>ARTISTS</h1>
      <hr>
      <div>
        <p><strong>Omaha Fashion Week Runnway </p></strong>
        <p>2013 – present</p>
      </div>
      <div>
        <p><strong>Belles and Whistles</p></strong>
        <p>2013-present</p>
      </div>
      <div>
        <p><strong>Trans – Siberian Orchestra </p></strong>
        <p>2005 – 2013</p>
      </div>
      <div>
        <p><strong>Michael Buble/p></strong>
        <p>2006, 2013</p>
      </div>
      <div>
        <p><strong>Il Divo</p></strong>
        <p>2013</p>
      </div>
      <div>
        <p><strong>Mannheim Steamroller</p></strong>
        <p>2004 – 2012</p>
      </div>
      <div>
        <p><strong>Conor Oberst</p></strong>
        <p>2012</p>
      </div>
      <div>
        <p><strong>Johnny Mathis</p></strong>
        <p>2011</p>
      </div>
      <div>
        <p><strong>Tim Halperin</p></strong>
        <p>2011</p>
      </div>
      <div>
        <p><strong>Tim Kasher</p></strong>
        <p>2010</p>
      </div>
      <div>
        <p><strong>The Canadian Tenors</p></strong>
        <p>2010</p>
      </div>
      <div>
        <p><strong>Randy Sabien</p></strong>
        <p>2010</p>
      </div>
      <div>
        <p><strong>Mary J. Blige</p></strong>
        <p>2008</p>
      </div>
      <div>
        <p><strong>David Foster</p></strong>
        <p>2006</p>
      </div>
      <div>
        <p><strong>Josh Groban</p></strong>
        <p>2004 – 2005</p>
      </div>
      <div>
        <p><strong>Rod Stewart</p></strong>
        <p>2004</p>
      </div>

      
      
      
      
      <h1>DISCOGRAPHY</h1>
      <hr>
      <div>
        <p><strong>2014</strong></p>
        <p>Kaitlyn Hova: Carol of the Bass</p>
        <p>Kaitlyn Hova: Carol of the Bass (single)</p>
        <p>Universe Contest: We are the Rattlesnake</p>
      </div>
      <div>
        <p><strong>2013</strong></p>
        <p>Bad Country: EP</p>
        <p>Green Like July: Build a Fire</p>
      </div>
      <div>
        <p><strong>2012</strong></p>
        <p>Kaitlyn Hova: Super Bass (Single)</p>
        <p>Kaitlyn Hova: Such Great Heights (Single)</p>
        <p>Kaitlyn Hova: Owl City (Single)</p>
        <p>Kaitlyn Hova: Seattle Dream (Single)</p>
        <p>Banshee : Mindslave</p>
        <p>Cannonista: Sexomnia</p>
        <p>The Big Deep : Roman Empire</p>
      </div>
      <div>
        <p><strong>2011</strong></p>
        <p>Midwest Dilemma: Midwest Dilemma</p>
        <p>Skypiper: Skypiper</p>
        <p>AYGAMG: Before we know (single)</p>
        <p>AYGAMG: All Young Girls Are Machine Guns</p>
        <p>The Answer Team: Oh Sad and Future Human</p>
      </div>
      <div>
        <p><strong>2010</strong></p>
        <p>Filter Kings: Christmas for Pine Ridge Volume III</p>
        <p>A No Coast November: Never Ever Always</p>
        <p>The Answer Team: The Answer Team</p>
        <p>Adelaide: Find Me Love</p>
      </div>
      <div>
        <p><strong>2009</strong></p>
        <p>Kaitlyn Maria Filippini: Forever and Always</p>
        <p>A No Coast November: A No Coast November</p>
      </div>
    </div>
  </div>
</div>