<%= render 'fancybox_script' %>	
<div class="photos_page">
  <h1> VIDEO</h1>
  <h3> click to view</h3>
			<ul class="grid effect-1" id="grid">
				<li><a class="fancybox-media fancybox-effects-a" href="https://www.youtube.com/watch?v=dI4DpHnbX_Q"><img width=100% src="/assets/videos/1.gif"></a></li>
				<li><a class="fancybox-media fancybox-effects-a" href="https://www.youtube.com/watch?v=EvHcjMiLEvA"><img width=100% src="/assets/videos/2.gif"></a></li>
				<li><a class="fancybox-media fancybox-effects-a" href="https://www.youtube.com/watch?v=qtPtc9n-m_0"><img width=100% src="/assets/videos/3.gif"></a></li>
				<li><a class="fancybox-media fancybox-effects-a" href="https://www.youtube.com/watch?v=mbr4AUFPf_M"><img width=100% src="/assets/videos/4.gif"></a></li>
				<li><a class="fancybox-media fancybox-effects-a" href="http://vimeo.com/35630903"><img width=100% src="/assets/videos/5.gif"></a></li>
				<li><a class="fancybox-media fancybox-effects-a" href="https://www.youtube.com/watch?v=_gk4Z7kZwLw"><img width=100% src="/assets/videos/6.gif"></a></li>
				<li><a class="fancybox-media fancybox-effects-a" href="https://www.youtube.com/watch?v=yv3V4V50ubM"><img width=100% src="/assets/videos/7.gif"></a></li>
				<li><a class="fancybox-media fancybox-effects-a" href="https://www.youtube.com/watch?v=8JWtrEPOq2Q"><img width=100% src="/assets/videos/8.gif"></a></li>
				<li><a class="fancybox-media fancybox-effects-a" href="https://www.youtube.com/watch?v=49r4GUDwZSk"><img width=100% src="/assets/videos/9.gif"></a></li>
			</ul>
      
	<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
	</script>
</div>