<div class="row" style="margin-top:200px;">
    <h1 class="coming_soon">COMING SOON</h1>
    <p>My husband and I are currently in the process of making open source 3d printable electric violins that will be available for download here. These instruments are parametric, meaning that they are built with nothing but math. Our goal is to make them as affordable as possible with the intent of using them in early string classes in public schools. </p>
      
      
      
      <p>I will be featuring one in each of my upcoming music videos : )   </p>   
      
</div>

