.new_client_page {
  margin-top:150px;
  text-align:center;
}

.form_input {
  width: 100%;
  padding: 20px;
  max-width: 600px;
}

.new_form {
  position:relative;
  z-index: 2000;
}

.client_login{
  position: relative;
  top: 45px;
  padding: 75px;
}

.show_page{
  margin-top:250px !important;
  font-family: "garamond-premier-pro", serif;
}

.client{
  text-align: left;
  font-size: 39px;
  letter-spacing: 4px;
}

.twitter{
  width: 31px;
  height: 34px;
  background-image: url("/assets/twitter.png");
  display: block;
  margin: 0 auto;
}

.twitter:hover{
  width: 31px;
  height: 34px;
  background-image: url("/assets/twitter.png");
  background-position-y: 39px !important;
}

.twittergrey{
  width: 40px;
  height: 34px;
  background-image: url("/assets/twittergrey.png");
  display: block;
  margin: 0 auto;
}

.twittergrey:hover{
  width: 40px;
  height: 34px;
  background-image: url("/assets/twittergrey.png");
  background-position-y: 40px !important;
}

.social{
  position: relative;
  z-index: 1000;
  margin-top: -75px !important;
}

.soundcloud{
  width: 40px;
  height: 25px;
  background-image: url("/assets/soundcloud.png");
  position: relative;
  top: 5px;
  display: block;
  margin: 0 auto;
}

.soundcloud:hover{
  width: 40px;
  height: 25px;
  background-image: url("/assets/soundcloud.png");
  background-position-y: 48px !important;
}

.soundcloudgrey{
  width: 40px;
  height: 25px;
  background-image: url("/assets/soundcloudgrey.png");
  position: relative;
  top: 5px;
  display: block;
  margin: 0 auto;
}

.soundcloudgrey:hover{
  width: 40px;
  height: 25px;
  background-image: url("/assets/soundcloudgrey.png");
  background-position-y: 48px !important;
}

.facebook{
  width: 30px;
  height: 31px;
  background-image: url("/assets/facebook.png");
  position: relative;
  top: 5px;
  display: block;
  margin: 0 auto;
}

.facebook:hover{
  width: 30px;
  height: 31px;
  background-image: url("/assets/facebook.png");
  position: relative;
  background-position-y: 38px;
  top: 5px;
}

.facebookgrey{
  width: 40px;
  height: 31px;
  background-image: url("/assets/facebookgrey.png");
  position: relative;
  top: 5px;
  display: block;
  margin: 0 auto;
}

.facebookgrey:hover{
  width: 40px;
  height: 31px;
  background-image: url("/assets/facebookgrey.png");
  position: relative;
  background-position-y: 38px;
  top: 5px;
}

.instagram{
  width: 30px;
  height: 31px;
  background-image: url("/assets/instagram.png");
  position: relative;
  top: 5px;
  display: block;
  margin: 0 auto;
}

.instagram:hover{
  width: 30px;
  height: 31px;
  background-image: url("/assets/instagram.png");
  position: relative;
  background-position-y: 38px;
  top: 5px;
}

.instagramgrey{
  width: 40px;
  height: 31px;
  background-image: url("/assets/instagramgrey.png");
  position: relative;
  top: 5px;
  display: block;
  margin: 0 auto;
}

.instagramgrey:hover{
  width: 40px;
  height: 31px;
  background-image: url("/assets/instagramgrey.png");
  position: relative;
  background-position-y: 38px;
  top: 5px;
}