@font-face {
    font-family: 'hipstelveticabold';
    src: url('hipstelvetica_bold-webfont.eot');
    src: url('hipstelvetica_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('hipstelvetica_bold-webfont.woff') format('woff'),
         url('hipstelvetica_bold-webfont.ttf') format('truetype'),
         url('hipstelvetica_bold-webfont.svg#hipstelveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hipstelveticalight';
    src: url('hipstelvetica_light-webfont.eot');
    src: url('hipstelvetica_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('hipstelvetica_light-webfont.woff') format('woff'),
         url('hipstelvetica_light-webfont.ttf') format('truetype'),
         url('hipstelvetica_light-webfont.svg#hipstelveticalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hipstelveticaultralight';
    src: url('hipstelvetica_ultralight-webfont.eot');
    src: url('hipstelvetica_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('hipstelvetica_ultralight-webfont.woff') format('woff'),
         url('hipstelvetica_ultralight-webfont.ttf') format('truetype'),
         url('hipstelvetica_ultralight-webfont.svg#hipstelveticaultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
  font-family: "europa";
}
h1{
  text-align:center;
  font-family: 'europa';
  line-height: 30px;
}

h3{
  text-align: center;
  letter-spacing: 5px;
  color: black;
}

.bottom_nav{
  max-width: 100% !important;
  background: rgba(98,98,98,.7);
  margin-top: 450px;
  padding-bottom: 75px;
}

.bottom_header{
  position: relative;
  top: 75px;
}

.khova{
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ccc;
  margin: 0;
  text-align: center;
  position: relative;
  top: 230px;
}

#contact{
  color:whitesmoke;
  position:relative;
  top: 250px;
}

.top_hr{
  position: relative;
  top: 117px;
}

.bottom_hr{
  position: relative;
  top: 326px;
}

.resume_photo{
  background-image: url("/assets/background.png");
  height: 450px;
  background-position-y: 600px;
  margin-top:-40px;
}

.resume_page h1{
  font-size: 33px;
  letter-spacing: 4px;
  text-align:left;
  margin-top: 75px;
}

.resume_page p{
  line-height: 10px;
}

.resume_page .row .large-6 div{
  padding-top:7px;
}

.resume_page  hr{
  margin: 39px 0px;
}

.resume_header{
  position: relative;
  top: 200px;
  color: whitesmoke;
  text-align: center;
}

.resume_header h1{
  letter-spacing: 4px;
  font-size: 65px;
  line-height: 75px;
}

.resume_header p {
  letter-spacing: 10px;
}

.bottom_quote{
  font-family: "garamond-premier-pro", serif;
  font-size: 3vw;
  line-height: 3.8vw;
  font-style: italic;
  margin: 0 0 20px 0;
  text-align:center;
  letter-spacing: 2px;
  position: relative;
  top: 234px;
}

.resume_button{
  color: black;
  border: 2px solid black;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.submit_button{
  width: 100%;
  outline:none;
  border: none;
  color: gray;
  -webkit-appearance: none;
  padding: 27px;
  font-size: 20px;
  margin-bottom: 35px;
}

.coming_soon{
  letter-spacing: 4px;
}

.tab textarea{
  display: none;
}

.resume_page{
  margin-top: 20px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   gray;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    gray;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    gray;
}

.contact_form{
  position: relative;
  top: -30px;
  z-index: 1000;
  padding: 75px;
}

.inputtimes{
  width: 100%;
  padding: 25px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  color: gray;
  outline:none;
}

.text-fieldtimes{
  width: 100%;
  padding: 100px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7); 
  border: none;
  color: gray;
  outline:none;
}

.subtext{
  text-align:center;
  letter-spacing: 5px;
}

.mobilenav_bar{
  background: url('/assets/fancybox_overlay.png');
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
}

.main_navigation{
  font-family: 'europa';
  text-transform: uppercase;
  text-align:center;
  z-index: 100;
  color:whitesmoke;
}

.subheader{
  text-transform: uppercase;
  letter-spacing: 5px;
}

.sub2{
  text-align: center;
  position: relative;
  top: 75px;
}


#music_submenu{
  color: #f5f5f5;
  text-align: center;
  position: relative;
  top: 25px;
  opacity: 0.0;
  transition: .5s ease;
  background: gray;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

#media_submenu{
  color: #f5f5f5;
  text-align: center;
  position: relative;
  top: 7px;
  opacity: 0.0;
  transition: .5s ease;
  background: gray;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

#about_section{
 padding-top:150px;
 font-size:60px;
}

.godown{
  position:relative;
  top:109px !important;
}

.navbg{
  background: black;
  padding: 16px;
  padding-top: 35px;
  font-size: 20px;
  opacity: .6;
  transition: .5s;
  padding-bottom: 0px;
}

.newheight{
  transition: .5s;
  padding-bottom: 20px;
}

#that_triangle{
  position: fixed;
  top: 89px;
  opacity: .6;
  z-index:10;
  transition: .5s;
}

.TLM_image{
  width:100%;
}

.press_page{
  margin-top: 200px;
}

.fancybox-title-float-wrap .child a{
  border: 1px solid whitesmoke;
  color: whitesmoke  !important;
  padding: 10px;
  }
}

.fancybox-title-float-wrap .child a :hover{
  color:whitesmoke !important;
  background:#f24333 !important;
}

.triangle_submenu{
  top:108px !important;
}

#title_photos{
  position: inherit;
  z-index:-2;
  margin-top:100px;
}

.photos_page{
  margin-top:200px;
}

.art_page{
  margin-top:200px;
}

#moving_photo1{
  position:relative;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#moving_photo2{
  position:relative;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#moving_photo3{
  width:100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.stay{
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

.goaway{
  display:none;
}

.goaway_for_real{
  display:none !important;
}

#name{
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 300px;
  position: relative;
  z-index: -1;
  opacity: .6;
  position: fixed;
}

#solo_music{
  padding-top:150px;
}

.timeline1{
  padding-right: 65px;
  border-right: 3px solid rgba(0,0,0,0.4);
  height: 400px;
}

.timeline2{
  padding-left: 65px;
  border-left: 3px solid rgba(0,0,0,0.4);
  height: 400px;
}

.content_box{
  background: rgb(98,98,98);
  padding: 75px;
  opacity: .6;
  color: whitesmoke;
  font-family: "garamond-premier-pro", serif;
}

.TL_year{
  position:relative;
  padding:117px;
  top:50px;
}

.TL_image{
  border: 75px rgb(215,197,191) solid;
}

.hr_thing{
  border: none;
  border-top: solid 1px #ccc;
  width: 30%;
  margin: 10% auto;
}

.TL_dot{
  float: right;
  position: relative;
  right: -92px;
  z-index: 9;
  top: -2px;
}

.left_image{
  float: right;
  position: relative;
  top: -50px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  
  
  .TL_year {
  position: relative;
  top: 21px;
  font-size: 30px;
  }
  
  .TL_1989{
    position: relative;
    top: 45px;
  }
  
  .TLM_1994{
    position: relative;
    top: 20px;
  } 
  
  .TLM_2000{
    position: relative;
    top: 25px;
  }
  
  .TLM_2001{
    position: relative;
    top: 20px;
  }
  
  .TLM_2006{
    position: relative;
    top: 20px;
  }
  
  .TLM_2011{
    position: relative;
    top: 20px;
  }
  
  .TLM_2012{
    position: relative;
    top: 20px;
  }
  
  .TLM_2013{
    position: relative;
    top: 20px;
  } 
    
  .timeline1{
    height: inherit;
    border: none;
    padding: 20px;
  }
  
  .timeline2{
    height: inherit;
    border: none;
    padding: 20px;
  }
}

@media only screen and (max-width: 40em) { 
  
  .hello{
    padding:25px;
  }
  
  .contact_form {
  position: relative;
  top: -30px;
  z-index: 1000;
  padding: 25px;
  }
  
  .client_login {
  position: relative;
  z-index: 1000;
  padding: 25px;
  }
  
  .TL_year {
  position: relative;
  top: 21px;
  font-size: 30px;
  }
  .main_navigation{
    font-size:15px;
  }
  
  .TL_1989{
    position: relative;
    top: 45px;
  }
  
  .TLM_1994{
    position: relative;
    top: 20px;
  } 
  
  .TLM_2000{
    position: relative;
    top: 25px;
  }
  
  .TLM_2001{
    position: relative;
    top: 20px;
  }
  
  .TLM_2006{
    position: relative;
    top: 20px;
  }
  
  .TLM_2011{
    position: relative;
    top: 20px;
  }
  
  .TLM_2012{
    position: relative;
    top: 20px;
  }
  
  .TLM_2013{
    position: relative;
    top: 20px;
  } 

  #title_photos{
    position: inherit;
    top: 0px;
    z-index:-2;
  }
  #name{
    margin-top: 100px;
  }
  
  .timeline1{
    height: inherit;
    border: none;
    padding: 20px;
  }
  
  .timeline2{
    height: inherit;
    border: none;
    padding: 20px;
  }
}