#title_photos{
  position: inherit;
  top: -100px;
}

#moving_photo1{
  position:relative;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#moving_photo2{
  position:relative;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#moving_photo3{
  width:100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.goaway{
  display:none;
}

#name{
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  top: 300px;
  opacity: .6;
}