<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="//use.typekit.net/xty1bvd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <title>TheRightBrain</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
<script src="assets/modernizr.custom.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
